## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
*.dbmdl
*.jfm
*.apk
*.ipa
*.appxsym

## Rider
.idea/
*.sln.iml
_ReSharper.Caches/

## VSCode
.vscode/

## OS
.DS_Store
Thumbs.db
